/* General Style*/
body {
    font-size: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: boarder-box;
    line-height: 1.6;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/*Header Styles*/
header{
    margin-bottom: 20px;
    text-align: center;
}

header h1{
    font-size: 2rem;
    margin: 10px 0;
}

header h2{
    font-size: 2rem;
    margin: 10px 0;
}

.publish-date,
.author{
    font-size: 0.9rem;
    color: #555
}

/*Featured Photo*/
.featured-photo{
    margin:20px 0;
    text-align: center
}

.featured-photo img{
    max-width: 100%;
    height: auto;
    border-radius:5px;
}

.photo-credit{
    font-style: italic;
    font-size: 0.9rem;
    color: #555
}

figcaption{
    font-size:0.9rem;
    color: #555;
    margin-top: 5px
}

/*Article Content*/
section{
    margin: bottom 40px;
}

/*More Stories*/
.more-stories{
    margin-top: 40px;
}

.more-stories h2{
    font-size:1.5rem;
    margin-bottom: 20px;
}

.story-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (300px,1ftr));
    gap:20px;
}

.story-card{
    text-decoration: none;
    color:inherit;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shaow 0.3s ease;
}

.story-card hover{
    box-shadow: 0 4px 2px rgba (0,0,0,0.1);
}

.story-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.story-card h3{
    font-size:1.1rem;
    padding: 10px;
}